body{
    font-family: MuseoSans-300,sans-serif;
}
.heading{
    color: #4b4b4b;
    font-size: 50px;
    font-family: MuseoSans-700,sans-serif;
    font-weight: 600;
    letter-spacing: -.3px;
    line-height: 130%;
    text-transform: none;
    width: 75%;
    margin: auto;
    margin-top:20px;
}
.para{
    font-size: 18px;
    line-height: 150%;
    margin: 5px 0 25px;
    font-family: MuseoSans-300,sans-serif;
    color: #4b4b4b;
    text-align: center;
    font-weight:100;

}
.button{
    background-color: #f37e5d;;
    color: #fff!important;
    display: inline-block;
    min-width: 220px;
    padding: 15px 20px;
    border-radius: 3px;
    border-radius: 3px;
    cursor: pointer;
    font-family: MuseoSans-700,sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.428571429;
    text-align: center;
    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
}
.button:hover{
    background-color: #f16b45;
}
.imgposter{
 width: 1140px;
 height: 506.34px;
 margin:auto;
}
.small{
    font-size: 14px;
    font-style: normal;
    margin: 10px auto 0;
    max-width: 300px;
    line-height: 150%;
    color: #4b4b4b;
    font-size: 14px;
}
.heading2{
    color: #4b4b4b;
    font-size: 30px;
    font-family: MuseoSans-700,sans-serif;
    font-weight: 600;
    letter-spacing: -.3px;
    line-height: 130%;
    text-transform: none;
    width: 75%;
    margin: auto;
    margin-top:40px;
}
.container{
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    width:1170px;
    height: 194px;
  
}
.second_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width:1140px;
    height: 194px;
    
}
.customerlogo{
    margin: 10px 20px 20px;
    width:184px;
    height: 68px;
}
.imgstyle{
    width: 180px;
    height: 67px;
}
.BigBox{
    padding: 70px 0;
    background-color: #f8f8f8!important;
    width: 1263.33px;
    height: 1230.42px;
}

.heading3{
    color: #4b4b4b;
    font-size: 30px;
    font-family: MuseoSans-700,sans-serif;
    font-weight: 600;
    letter-spacing: -.3px;
    line-height: 130%;
    text-transform: none;
    width: 75%;
    margin: auto;
    margin-top:40px;
}
.boxA{
    margin-bottom: 40px;
 
}
.box{
    width: 1000px;
    height: 518.46px;
    display: flex;
    margin: auto;
   
}
.inside{
  
    width:460px;
    height:478.46px;
    background-color: #fff;
    border-radius: 4px;
    overflow: hidden;
    padding: 80px 40px 40px;
    margin: 20px;
    position: relative;
}
.smallBox{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 120px;
}

.banner{
    width: 460px;
    height: 120px;
    object-fit: cover;
}

.imglogo{
 width: 60px;
 height: 60px;
 position: absolute;
 margin-left:40px ;
 margin-top: -40px;
 border-radius:4px;
 margin-bottom: 20px;
 box-shadow: 2px 2px 20px 0 rgb(0 0 0 / 20%);
}
.svglogo{
    box-shadow: 2px 2px 20px 0 rgb(0 0 0 / 20%);
    background-color: #fff;
    border-radius: 4px;
    width: 60px;
    height: 60px;
    position: relative;
    z-index: 2;
    overflow: hidden;
    fill:#618be0;
    margin-left: 40px;
    margin-top: -40px;
    margin-bottom: 20px;
}
.svglogo1{
    box-shadow: 2px 2px 20px 0 rgb(0 0 0 / 20%);
    background-color: #fff;
    border-radius: 4px;
    position: relative;
    z-index: 2;
    overflow: hidden;
    margin-left: 10px;
    margin-left: 40px;
    margin-top: -40px;
    margin-bottom: 20px;
    fill:#8256e7
    
}
.subheading{
    font-family: MuseoSans-700,sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 22px;
    margin: 0;
}
.subpara{
    font-size: 15px;
    padding: 3px 0;
    color: #4b4b4b;
    line-height: 170%;
    box-sizing: border-box;
    font-family: MuseoSans-300,sans-serif;
  

}
.ullist{
    list-style-image: url(https://coschedule.com/img/home/orange-checkmark.svg);
    padding-left: 30px;
    margin: 20px 0 25px;

}
.checkbtn{
    background-color: #ffede3;
    color: #f37e5d;
    transition: all .25s ease-in-out;
    padding: 12px 30px;
    min-width: auto;
    font-size: 13px;
}