.main {
  
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  /* margin-left: 30px; */
  height: 4500px;
margin-top: 20px;
  
}
.nvdiv{
  /* width: 1000px;
  margin-left: 210px; */
}
.browndiv {
  width: 85%;
  height: 900px;
  /* border: 1px solid blue; */
  margin-left: 3%;
}
.browndiv1 {
  height: 500px;
  width: 1000px;
  background-color: rgb(252, 144, 94);
}
.headingpart {
  height: 80px;
  width: 100%;
  /* border: 1px solid forestgreen; */
  display: flex;
  justify-content: space-evenly;
  color: white;
  font-size: 21px;
  font-weight: 500;
  padding-top: 14px;
}
.shedule {
  margin-top: 12px;
  

}
.bring {
  color: white;
  font-size: 27px;
  font-weight: bolder;
  margin-top: 16px;
  color: white
}
.para {
  margin-top: 70px;
  color: white;
  font-size: 20px;
  margin-left: 130px;
  width: 800px;
  font-style: italic;
}
.pic1 {
  width: 850px;
  position: absolute;
  margin-left: 9%;
}
.manage {
  margin-top: 280px;
  width: 520px;
  margin-left: 200px;
  color: rgb(53, 52, 52);
  font-size: 29px;
  color: rgb(245, 10, 10);
  font-weight: bold;
}
.manage2 {
  width: 520px;
  color: rgb(88, 86, 86);
  margin-left: 220px;
  float: left;
  margin-top: 7px;
  text-align: left;
  font-style: italic;
}
.pinkdiv {
  height: 350px;
  width: 100%;
  background-color: rgb(255, 226, 232);
}
.innerdiv {
  height: 200px;
  width: 900px;
  margin-left: 50px;
  margin-top: 5%;
  background-color: white;
  border-radius: 9px;
  padding-top: 20px;
  display: flex;
  font-size: 22px;
  box-shadow: 2px 2px 7px 2px rgb(114, 107, 107);
}
.innerdivimg {
  width: 120px;
  height: 130px;
  float: left;
  margin-top: 20px;
  margin-left: 65px;
  color: rgb(124, 117, 117);
}
.marketers {
 
  padding-top: 50px;
  width: 600px;
  font-weight: bold;
  color: rgb(110, 108, 108);
}
.before {
  width: 500px;
  margin-left: 200px;
  color: rgb(94, 93, 95);
  font-size: 17px;
  text-align: left;
  font-style: oblique;
}
.smalldiv {
  height: 200px;
  width: 900px;
  margin-left: 47px;
  background-color: rgb(245, 162, 39);
  border-radius: 9px;
  margin-top: 30px;
  display: flex;
  color: white;
  font-size: 22px;
  justify-content: center;
  font-weight: bold;
  box-shadow: 2px 2px 7px 2px rgb(114, 107, 107);
}
.smalldiv > h1 {
  margin-top: 55px;
  font-size: x-large;
}
.pic4 {
  height: 600px;
  float: left;
}
.see {
  font-size: 20px;
  margin-top: 50px;

  color: rgb(78, 77, 77);
}
.pic5 {
  height: 600px;
  margin-top: -50px;
  float: right;
}
.picdiv {
  height: 700px;
  /* border: 1px solid yellow; */
  width: 600px;
}
.picdiv > img {
  height: 700px;
  padding-left: 10px;
}
.picdiv > p {
  padding-left: 20px;
}
.picdiv > h1 {
  padding-left: 10px;
}

.rightdiv {
 
  border: .1px solid rgb(141, 133, 133);
  width: 100%;
  height: 100%;
  /* margin-left: 5px; */
 
}
label {
  float: left;
  padding-left: 25px;
  margin-top: 3px;
  color: rgb(129, 126, 126);
  font-weight: bolder;
}
input {
  margin-top: 3px;
  width: 253px;
  height: 34px;
  border-radius: 3px;
  border: 0.4px solid rgb(160, 151, 151);
  padding-left: 3px;
}
.lastDiv {
  margin-top: 10px;
}
.lastDiv > button {
  height: 45px;
  width: 160px;
  background-color: rgb(252, 138, 138);
  font-weight: bolder;
  color: white;
  font-size: 17px;
  border-radius: 5px;
  border: none;
}
form > h2 {
  padding-top: 18px;
  color: rgb(245, 162, 39);
  font-size: 20px;
}
form > p {
  color: rgb(122, 110, 110);
  text-align: left;
  width: 95%;
  padding-left: 8px;
  font-size: 13px;
  margin-top: 5px;
}
