.main {
  height: 1000px;
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
}
.browndiv {
  width: 78%;
  height: 900px;
  /* border: 1px solid blue; */
}
.browndiv1 {
  height: 500px;
  width: 100%;
  background-color: rgb(252, 144, 94);
}
.headingpart {
  height: 60px;
  width: 100%;
  /* border: 1px solid forestgreen; */
  display: flex;
  justify-content: space-evenly;
  color: white;
}
.shedule {
  margin-top: 12px;
}
.bring {
  color: white;
  font-size: 23px;
}
.para {
  margin-top: 70px;
  color: white;
  font-size: 20px;
  margin-left: 170px;
  width: 800px;
}
.pic1 {
  width: 850px;
  position: absolute;
  margin-left: -30%;
}
.manage {
  margin-top: 280px;
  width: 520px;
  margin-left: 200px;
  color: rgb(53, 52, 52);
  font-size: 29px;
}
.manage2 {
  width: 520px;
  color: rgb(88, 86, 86);
  margin-left: 220px;
  float: left;
  margin-top: -3px;
  text-align: left;
}
.pinkdiv {
  height: 300px;
  width: 100%;
  background-color: rgb(255, 226, 232);
}
.innerdiv {
  height: 200px;
  width: 900px;
  margin-left: 47px;
  background-color: white;
  border-radius: 9px;
  margin-top: 30px;
  display: flex;
  box-shadow: 2px 2px 7px 2px rgb(114, 107, 107);
}
.innerdivimg {
  width: 120px;
  height: 130px;
  float: left;
  margin-top: 20px;
  margin-left: 20px;
  color: rgb(124, 117, 117);
}
.marketers {
  color: rgb(82, 78, 78);
  padding-top: 20px;
}
.before {
  width: 500px;
  margin-left: 200px;
  color: rgb(52, 49, 54);
  font-size: 20px;
}
.smalldiv {
  height: 200px;
  width: 900px;
  margin-left: 47px;
  background-color: rgb(245, 162, 39);
  border-radius: 9px;
  margin-top: 30px;
  display: flex;
  color: white;
  justify-content: center;
  box-shadow: 2px 2px 7px 2px rgb(114, 107, 107);
}
.smalldiv > h1 {
  margin-top: 55px;
}
.pic4 {
  height: 600px;
  float: left;
}
.see {
  font-size: 20px;
  margin-top: 50px;

  color: rgb(78, 77, 77);
}
.pic5 {
  height: 600px;
  margin-top: -50px;
  float: right;
}
.picdiv {
  height: 700px;
  /* border: 1px solid yellow; */
  width: 600px;
}
.picdiv > img {
  height: 700px;
  padding-left: 80px;
}
.picdiv > p {
  padding-left: 20px;
}
.picdiv > h1 {
  padding-left: 10px;
}

.rightdiv {
  height: 100%;
  border: 1px solid black;
  width: 400px;
}
label {
  float: left;
  padding-left: 20px;
  margin-top: 3px;
  color: rgb(129, 126, 126);
  font-weight: bolder;
}
input {
  margin-top: 3px;
  width: 253px;
  height: 34px;
  border-radius: 3px;
  border: 0.4px solid rgb(160, 151, 151);
}
.lastDiv {
  margin-top: 10px;
}
.lastDiv > button {
  height: 45px;
  width: 160px;
  background-color: rgb(252, 138, 138);
  font-weight: bolder;
  color: white;
  font-size: 17px;
  border-radius: 5px;
  border: none;
}
form > h2 {
  padding-top: 20px;
  color: rgb(245, 162, 39);
}
form > p {
  color: rgb(122, 110, 110);
  text-align: left;
  width: 95%;
  padding-left: 8px;
  font-size: 13px;
}
