/* * {
    font-family: "MuseoSans", "sans-serif";
  } */
  #img {
    height: 50px;
    width: 200px;
    object-fit: cover;
    margin-top: 5px;
    margin-left: 670px;
  
  }
  #h1 {
    font-size: 36px;
    color: #4b4b4b;
  }
  #p {
    font-size: 17px;
    color: #676565;
  }
  #priceContain {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top:60px;
  }
  #price1 {
    height: auto;
    width: 360px;
    border:1px solid rgb(240, 223, 223);
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    box-sizing: border-box;
  }
  #price1 > h4 {
    font-size: 14px;
    margin-top: 40px;
    color: #f37e5d;
    background-color: #ffffff;

  }
  #price1 > h2 {
    font-size: 28px;
    color: #4b4b4b;
    margin-top: -10px;
    background-color: #ffffff;
  }
  #p2 {
    font-size: 15px;
    color: #787878;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    background-color: #ffffff;
  }
  #price1 > h1 {
    font-size: 50px;
    color: #4b4b4b;
    margin-top: 50px;
    background-color: #ffffff;
  }
  #price1 > h3 {
    font-size: 21px;
    color: #4b4b4b;
    margin-top: -30px;
    background-color: #ffffff;
  }
  #btn {
    height: 60px;
    width: 230px;
    background-color: #f37e5d;
    border: 1px;
    font-size: 16px;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    margin-top: 50px;
  }
  #p3 {
    font-size: 16px;
    color: #787878;
    font-weight: bold;
    text-align: left;
    margin-left: 40px;
    margin-top: 40px;
    background-color: #ffffff;
  }
  #pContain {
    /* background-color: #ffffff; */
     list-style-image: url(https://coschedule.com/img/home/orange-checkmark.svg);
    padding-left: 30px;
    margin: 20px 0 25px;
    line-height: 2;
    margin-bottom: 38px;
    list-style-position: inside;
    text-align: left;
    color: #4b4b4b;
    margin-left: 20px;
    font-family: " MuseoSans300";
     
  }
 
  hr {
    width: 80%;
    margin-top: 40px;
    color: #d7d7d7;
  }
  a {
    font-size: 15px;
    color: #787878;
  }
  #hr {
    /* color: #f37e5d; */
    border: 2px solid #f37e5d;
    margin-top: 0px;
    width: 356px;
  }
  
  /* second box */
  #price2 {
    height: auto;
    width: 360px;
    border:1px solid rgb(240, 223, 223);
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  }
  #price2 > h4 {
    font-size: 14px;
    margin-top: 40px;
    color: #f37e5d;
    background-color: #ffffff;
  }
  #price2 > h2 {
    font-size: 28px;
    color: #4b4b4b;
    margin-top: -10px;
    background-color: #ffffff;
  }
  #price2 > h1 {
    font-size: 50px;
    color: #4b4b4b;
    margin-top: 50px;
    background-color: #ffffff;
  }
  #price2 > h3 {
    font-size: 21px;
    color: #4b4b4b;
    margin-top: -30px;
    background-color: #ffffff;
  }
  #price2>#pContain>p{
      width: 70%;
  }
  /* third box */
  #price3 {
      height: auto;
      width: 360px;
      border:1px solid rgb(240, 223, 223);
      background-color: #ffffff;
      box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    }
    #price3 > h4 {
      font-size: 14px;
      margin-top: 40px;
      color: #f37e5d;
      background-color: #ffffff;
    }
    #price3 > h2 {
      font-size: 28px;
      color: #4b4b4b;
      margin-top: -10px;
      background-color: #ffffff;
    }
    #price3 > h1 {
      font-size: 50px;
      color: #4b4b4b;
      margin-top: 50px;
      background-color: #ffffff;
    }
    #price3 > h3 {
      font-size: 21px;
      color: #4b4b4b;
      margin-top: -30px;
      background-color: #ffffff;
    }
    #talk{
      font-size: 35px;
      color: #4b4b4b;
      background-color: #ffffff;
    }
    #btn2{
      height: 60px;
    width: 230px;
    color: #f37e5d;
    border:2px solid #f37e5d;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    margin-top: 70px;
    }
    
    #faq
    {
      font-family: 'Merriweather', serif;
      text-align: center;
      font-size: 25px;
      color: rgb(165, 165, 165);
      width: 60%;
      margin: auto;
      margin-top: 100px;
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
      margin-bottom: 70px;
    }
    /* #faqy{
      margin-top: 350px;
    } */
    #image>img
    {
      margin-top: 20px;
      height: 100px;
      width: 100px;
      border-radius: 50px;
      margin-left: 400px;
    }

                    /* logo */
                    #heading1{
                      margin-top: 150px;
                      color: #363434;
                      font-size: 30px;
                      font-family: " MuseoSans";
                      font-weight: 600;
                      letter-spacing: -0.3px;
                      line-height: 130%;
                      text-transform: none;
                      width: 75%;
                      margin: auto;
                    }
    .heading2 {
      color: #363434;
      font-size: 30px;
      font-family: " MuseoSans";
      font-weight: 600;
      letter-spacing: -0.3px;
      line-height: 130%;
      text-transform: none;
      width: 75%;
      margin: auto;
      margin-top: 350px;
      margin-bottom: 43px;
      /* text-align: center; */
    }
    .container {
      margin-right: auto;
      margin-left: auto;
      padding-left: 15px;
      padding-right: 15px;
      width: 1170px;
      height: 194px;
    }
    .second_container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      width: 1140px;
      height: 194px;
    }
    .customerlogo {
      margin: 10px 20px 20px;
      width: 184px;
      height: 68px;
    }
    .imgstyle {
      width: 180px;
      height: 67px;
    }
      /* question */
    #question
    {
      width: 80%;
      margin: auto;
      font-family: 'Mukta', sans-serif;
      background-color: white;
      text-align: justify;
    }
    .ans
    {
      width: 30%;
      margin-right: 3%;
      float: left;
  
    }
     .ans h3{
        font-weight: bold;
     }
      .link
  {
    color: rgb(243,126,93);
  }

     /* orange */
     .coshome {
      background: #f37e5d;
      background: linear-gradient(90deg, #f37e5d 0, #f9a97d);
      padding: 70px 20px;
      text-align: center;
      margin-bottom: -45px;
      color: #4b4b4b;
      font-family: " MuseoSans";
    }
    .coshomehead {
      margin-bottom: 10px;
      font-size: 28px;
      color: #fff;
      text-align: center;
      font-weight: 600;
      font-family: " MuseoSans";
    }
    #p{
      color:#fff;
    }
    .lastbtn {
      display: inline-block;
      min-width: 220px;
      box-sizing: border-box;
      padding: 15px 20px;
      background-color: #fff;
      background-image: none;
      border-radius: 3px;
      cursor: pointer;
      font-size: 20px;
      font-weight: 400;
      line-height: 1.428571429;
      text-align: center;
      text-decoration: none;
      transition: all 0.2s ease-in-out;
      color: #f37e5d !important;
      font-family: " MuseoSans";
      margin-top: 50px;
    }
    .lastbtn:hover {
      background-color: #fdece7;
    }